<header class="header header-fixed" id="header" data-aos="fade-down">
    <div class="container">
        <div class="header-content">
            <!-- <div class="logo-container">
                <a routerLink="/">
                    <img class="logo" src="/assets/img/logo.png" alt="adlouniahmad">
                </a>
            </div> -->
            <nav class="position-relative" id="menu">
                <button id="nav-toggle-btn" class="header-hamburger-icon-container d-lg-none position-relative">
                    <fa-icon [icon]="icons.hamburger" [fixedWidth]="true"></fa-icon>
                </button>
                <div class="header-menu-container" id="nav-menu">
                    <button id="nav-close-btn" class="close-btn">
                        <fa-icon [icon]="icons.times" [fixedWidth]="true"></fa-icon>
                    </button>
                    <ul class="header-menu" id="header-menu-list">
                        <li class="nav-item header-menu-item">
                            <a class="header-menu-link nav-link" href="#home" (click)="closeMenu()">home</a>
                        </li>
                        <li class="nav-item header-menu-item">
                            <a class="header-menu-link nav-link" href="#about" (click)="closeMenu()">about me</a>
                        </li>
                        <li class="nav-item header-menu-item">
                            <a class="header-menu-link nav-link" href="#portfolio" (click)="closeMenu()">portfolio</a>
                        </li>
                        <li class="nav-item header-menu-item">
                            <a class="header-menu-link nav-link" href="#contact" (click)="closeMenu()">contact me</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>