<section id="portfolio" class="py-5rem">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="underline-center text-center" data-aos="fade-down">Portfolio</h3>
            </div>
        </div>
        <div class="row mt-4" data-aos="fade-down">
            <div class="col">
                <div class="categories d-flex align-items-center justify-content-center">
                    <button type="button" class="category filter-btn" [ngClass]="{'active': category.active}"
                        *ngFor="let category of categories" (click)="
                        filterPortfolioItems(category)">{{ category.name }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row portfolio-container">
            <adl-product-item class="col-sm-12 col-md-6 col-lg-4 mb-4 d-none"
                [ngClass]="{'show-portfolio-item': item.tags.includes(filterValue) || filterValue == '*'}"
                *ngFor="let item of portfolioItems" [item]="item"></adl-product-item>
        </div>
    </div>
</section>