:host {
	display: block;
	font-size: 14px;
}

a {
	color: inherit;
}

.icon-item {
	padding: .6rem .6rem .6rem 0;
	display: block;
	cursor: pointer;
	font-size: 20px;
	position: relative;
	transition: color .3s;
	color: var(--color-light-orange);
}

.icon-item.facebook:hover {
	color: #4267B2;
}

.icon-item.instagram:hover {
	color: #E1306C;
}

.icon-item.linkedIn:hover {
	color: #2867B2;
}

.icon-item.github:hover {
	color: #fff;
}