<footer>
  <div class="contact-info mb-3">
    <div class="d-flex gap-1">
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      <span>
        <a [href]="'mailto:' + contactInfo.email" target="_blank">{{ contactInfo.email }}</a>
      </span>
    </div>
    <div class="d-flex gap-1">
      <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
      <span>{{ contactInfo.address }}</span>
    </div>
  </div>
  <div class="d-flex gap-1">
    @for (socialNetwork of socialNetworks; track socialNetwork) {
      <span>
        <a [href]="socialNetwork.link" rel="noopener" class="icon-item {{ socialNetwork.name }}" target="_blank">
          <fa-icon [icon]="icons[socialNetwork.name]" [fixedWidth]="true"></fa-icon>
        </a>
      </span>
    }
  </div>
</footer>