<section id="home">
    <div class="container">
        <div class="row home-bg">
            <div class="col align-self-center" data-aos="fade-right">
                <div class="font-size-30px">
                    <span>Hello, I'm</span>
                </div>
                <div class="font-weight-bold name">
                    <span>{{ info.name }}</span>
                </div>
                <div class="typewritter">
                    <span class="text-capitalize">{{ info.position }}</span>
                </div>
            </div>
        </div>
    </div>
</section>