/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
:root {
    --color-gray: #283442;
    --color-dark-blue: #0e4598;
    --color-blue: #114696;
    --color-light-blue: #164d9d;
    --color-lighter-blue: #327ce8;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Nunito', 'Tajawal', sans-serif;
    color: #38383a;
}

a {
    color: #38383a;
    text-decoration: none;
}

.btn {
    letter-spacing: .2rem !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.mt-45px {
    margin-top: 45px;
}

.pb-120px {
    padding-bottom: 120px !important;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-lighter {
    font-weight: lighter;
}

a:hover {
    color: inherit;
}

.display-none {
    display: none;
}

a:not(.active):hover {
    color: inherit;
    opacity: .7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.py-5rem {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-light-grey {
    background: #fafafa;
}

.underline::after, .underline-center::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: var(--color-lighter-blue);
    margin-top: 5px;
}

.underline-center::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    background: #2a3344;
    background: transparent;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header .logo {
    height: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header-menu-link {
    padding: 25px 20px;
    text-transform: uppercase;
    transition: all .3s;
}

.header-menu-link:last-child {
    padding-right: 0;
}

.header-menu-link.active {
    font-weight: bold;
}

.header-menu-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-lighter-blue);
}

.header-hamburger-icon-container {
    cursor: pointer;
    width: 100%;
    outline: none;
    background: none;
    padding: 0;
    border: none;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    display: block;
    height: 2px;
    background: #38383a;
    border-radius: 50px;
    cursor: pointer;
}

.hamburger-icon {
    width: 22.5px;
    position: relative;
}

.hamburger-icon::before, .hamburger-icon::after {
    content: '';
    position: absolute;
    right: 0;
}

.hamburger-icon::before {
    width: 30px;
    top: -7px;
}

.hamburger-icon::after {
    width: 15px;
    bottom: -7px;
}

.icon-item-container:not(:first-child) {
    margin-left: 10px;
}

.icon-item-container {
    display: inline-block;
}

.icon-item {
    padding: 10px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    transition: color .3s;
}

.icon-item.facebook:hover {
    color: #4267B2;
}

.icon-item.instagram:hover {
    color: #E1306C;
}

.icon-item.linkedIn:hover {
    color: #2867B2;
}

.typewritter {
    display: flex;
}

.typewritter>span {
    overflow: hidden;
    width: 265px;
    border-right: .15em solid var(--color-lighter-blue);
    white-space: nowrap;
    margin-right: auto;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
}

.home-bg {
    background-image: url('/assets/img/me.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 500px 500px;
    height: 75vh;
}

.header.shrink {
    box-shadow: 0 12px 19px 0 rgba(56, 56, 58, .09);
}

.header.shrink .header-menu-link {
    padding-top: 20px;
    padding-bottom: 20px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-50px {
    font-size: 50px;
}

#home {
    padding-top: 75px;
    padding-bottom: 75px;
}

.name {
    font-size: 50px;
}

.header-menu-container {
    display: block;
}

.close-btn {
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #38383a;
    display: none;
}

.terminal {
    width: 350px;
    height: 350px;
    background: var(--color-blue);
    border-radius: 100%;
    position: absolute;
    top: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: white;
    box-shadow: 0 12px 19px 0 rgba(56, 56, 58, .09);
    overflow: hidden;
}

.terminal fa-icon {
    z-index: 1;
}

.terminal::before {
    content: '';
    width: 400px;
    height: 400px;
    display: block;
    background: var(--color-light-blue);
    position: absolute;
    transform: rotate(45deg);
    bottom: -71%;
    z-index: 0;
    transition: all .3s;
}

.terminal:hover::before {
    bottom: -61%;
}

.categories button.category {
    outline: none;
    border: none;
    background: #fafafa;
    color: inherit;
    border-radius: 50px;
    padding: 5px 15px;
    transition: all .3s ease-in-out;
}

.categories button.category.active {
    background: var(--color-lighter-blue);
    color: white;
    box-shadow: 0 12px 19px 0 rgba(56, 56, 58, .09);
}

.categories button.category:not(:first-child) {
    margin-left: 15px;
}

.portfolio-item {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    transition: opacity .3s;
    border: 3px solid #fafafa;
}

.portfolio-item:hover {
    box-shadow: 0 12px 19px 0 rgba(56, 56, 58, .09);
    border: none;
}

.portfolio-item .header {
    position: absolute;
    top: -30px;
    transition: all .4s ease-in-out;
    width: 100%;
}

.portfolio-item .header .title {
    font-size: 20px;
    color: var(--color-dark-blue);
}

.portfolio-item:hover .header {
    top: 0;
}

.portfolio-item .footer {
    position: absolute;
    bottom: -30px;
    transition: all .4s ease-in-out;
    width: 100%;
    background-color: var(--color-lighter-blue);
}

.portfolio-item .footer button {
    color: #fff;
}

.portfolio-item:hover .footer {
    bottom: 0;
}

.on-hover::before, .on-hover::after {
    transition: all .3s ease-in-out;
}

.portfolio-header {
    position: absolute;
    display: block;
    z-index: 3;
    top: -100%;
    width: 100%;
    transition: all .3s ease-in-out;
    color: #fff;
}

.portfolio-header .title {
    font-size: 20px;
}

.on-hover:hover .portfolio-header {
    top: 50%;
    transform: translateY(-60%);
}

.portfolio-footer {
    position: absolute;
    display: block;
    z-index: 3;
    left: 0;
    bottom: -100%;
    width: 100%;
    transition: all .3s ease-in-out;
}

.on-hover:hover .portfolio-footer {
    bottom: 0;
}

.portfolio-footer button {
    color: #fff;
}

.on-hover::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: -100%;
    height: 100%;
    left: 0;
    background: var(--color-blue);
}

.on-hover:hover::before {
    top: 0;
}

.on-hover::after {
    content: '';
    width: 210px;
    height: 210px;
    position: absolute;
    display: block;
    bottom: -200%;
    left: 50%;
    transform: rotate(45deg) translateX(-71%);
    background: var(--color-light-blue);
}

.on-hover:hover::after {
    bottom: -106%;
}

.show-portfolio-item {
    display: block !important;
    -webkit-animation: fadeInFromNone .5s ease-out;
    -moz-animation: fadeInFromNone .5s ease-out;
    -o-animation: fadeInFromNone .5s ease-out;
    animation: fadeInFromNone .5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeInFromNone {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.form-control {
    border: 1px solid #dadada;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--color-lighter-blue);
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-lighter-blue);
}

.btn-primary {
    background-color: var(--color-lighter-blue);
    border-color: var(--color-lighter-blue);
    border-radius: 50px;
    padding: 8px 20px;
}

.btn-primary:focus {
    background-color: var(--color-light-blue);
    border-color: var(--color-light-blue);
    box-shadow: 0 0 0 0.2rem var(--color-lighter-blue);
}

label {
    color: #9c9c9c;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

/** loader **/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--color-dark-blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/** success **/

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}

.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #fafafa;
    transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, .5);
}

.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fafafa;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@media screen and (max-width: 991px) {
    .header-menu-container {
        display: none;
    }
    .header.shrink .header-menu-link {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .header-menu-container.show {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        right: 0;
        background: rgba(255, 255, 255, 1);
        z-index: 99;
    }
    .header-menu-container.show .close-btn {
        display: block;
    }
    .header-menu {
        flex-direction: column;
    }
    .header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .home-bg {
        background-size: 300px 300px;
        height: 50vh;
    }
}

@media screen and (max-width: 767px) {
    .home-bg {
        background: none;
    }
    .portfolio-item {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .portfolio-item {
        height: 250px;
    }
}

@media screen and (max-width: 390px) {
    .name {
        font-size: 40px;
    }
    .portfolio-item {
        height: 200px;
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 265px
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: var(--color-lighter-blue);
    }
}