<adl-header></adl-header>
<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-md-row flex-column">
                    <div class="product-logo" [ngStyle]="{'background-image': 'url(' + product.featuredImage + ')'}"
                        [title]="product.name" data-aos="fade-right">
                    </div>
                    <div class="info" data-aos="fade-left">
                        <h3 class="underline">{{ product.name }}</h3>
                        <div class="description mb-4">
                            <p class="mb-2" *ngFor="let info of product.details.description">{{ info }}</p>
                        </div>
                        <div class="description mb-4" *ngIf="product.details.links">
                            <h6>Links</h6>
                            <a class="link" rel="noopener" href="{{ link.link }}" target="_blank" *ngFor="let link of product.details.links">{{ link.name }}</a>
                        </div>
                        <div class="description">
                            <h6>Tech info</h6>
                            <p class="mb-2" *ngFor="let info of product.details.techDescription">{{ info }}</p>
                            <div class="d-flex flex-wrap mt-3">
                                <span *ngFor="let tag of product.details.tags" class="badge badge-light mr-2 mb-2"
                                    [title]="tag">{{ tag }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light-grey" *ngIf="product.details.screenshots">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="underline-center text-center" data-aos="fade-down">Screenshots</h3>
            </div>
        </div>
    </div>
</section>
<adl-footer></adl-footer>