<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-md-row flex-column">
          <div class="left-product-info">
            <div class="product-logo" [ngStyle]="{'background-image': 'url(' + product.featuredImage + ')'}"
              [title]="product.name" data-aos="fade-right" (click)="openGallery()">
            </div>
            @if (product.details.screenshots) {
              <button class="gallery-button" (click)="openGallery()">
                <fa-icon [icon]="expandIcon" [fixedWidth]="true"></fa-icon>
                Open Gallery
              </button>
            }

            @if (product.details.screenshots) {
              <div class="d-none" #galleryContainer lightbox-group>
                @for (screenshot of product.details.screenshots; track screenshot) {
                  <!-- <img class="d-none" [counter]="true" [src]="screenshot" lightbox> -->
                }
              </div>
            }
          </div>
          <div class="info" data-aos="fade-left">
            <h3 class="underline">{{ product.name }}</h3>
            <div class="description mb-4">
              @for (info of product.details.description; track info) {
                <p class="mb-2">{{ info }}</p>
              }
            </div>
            @if (product.details.links) {
              <div class="description mb-4">
                <h6>Links</h6>
                @for (link of product.details.links; track link) {
                  <a class="link" rel="noopener" href="{{ link.link }}" target="_blank">{{ link.name }}</a>
                }
              </div>
            }
            <div class="description">
              <h6>Tech info</h6>
              @for (info of product.details.techDescription; track info) {
                <p class="mb-2">{{ info }}</p>
              }
              <div class="d-flex flex-wrap mt-3">
                @for (tag of product.details.tags; track tag) {
                  <span class="badge badge-light mr-2 mb-2" [title]="tag">{{ tag }}</span>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@if (product.details.screenshots) {
  <section class="py-5 bg-light-grey d-none">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="underline-center text-center" data-aos="fade-down">Screenshots</h3>
        </div>
      </div>
    </div>
  </section>
}